
body {
  transition: background-color 1s;
}

p {
  font-size: 1.4rem;
  max-width: 500px;
  margin: 1rem auto 3rem;
}

span {
  position: relative;
  display: inline-block;
  padding: 0.1em 0.2em;
  margin: 0.1em;
  border: 1px solid currentColor;
  cursor: move;
  transform: none;
  transition: 1s transform;
}

span:hover {
  transform: rotate(-5deg);
}

span:nth-child(2n):hover {
  transform: rotate(5deg);
}


body[style] span:hover,
body[style] span.moved {
  color: white;
  z-index: 2;
}


@media (max-width: 1099px) {

  body > div {
    margin: 12em 0;
  }

  p {
    margin: 3.5em auto;
  }
}

@media (min-width: 1100px) {

  .letter-2 {
    margin-top: -12rem;
  }

  .letter-3 {
    margin-top: -4rem;
  }

  .letter-4 {
    margin-top: -12rem;
  }

  .letter-5 {
    margin-top: 3rem;
  }

  .letter-6 {
    margin-top: -12rem;
  }

  .letter-7 {
    margin-top: -9rem;
  }

  .letter-8 {
    margin-top: 0rem;
  }

  .letter-9 {
    margin-top: 10rem;
  }

  .letter-10 {
    margin-top: 20rem;
  }

  .letter-11 {
    margin-top: 25rem;
  }

  .letter-12 {
    margin: 30rem 0;
  }

  body > div:nth-child(2n) p {
    margin-right: 2rem;
  }

  body > div:nth-child(2n+1) p {
    margin-left: 2rem;
  }

}

@media (min-width: 1250px) {

  body > div:nth-child(2n) p {
    margin-right: 10%;
  }

  body > div:nth-child(2n+1) p {
    margin-left: 10%;
  }

}


